// Styling Changes that will be organized for later. Keep this stylesheet no more than 100 lines!
h1,
h2,
h3 {
	text-align: center;
}

#pfy-powered {
	a {
		display: none !important;
	}
}

.referral-form {
	@include transition(all 0.5s ease);
	background: transparent !important;
	width: 680px;

	.alert-danger {
		background-color: red !important;
	}
}

@media only screen and (max-width: $break-lg) {
	.referral-form {
		width: 480px;
	}
}

@media only screen and (max-width: $break-md) {
	.referral-form {
		width: 400px;
	}
}
