body {
    margin: 0;
}

.section {
    @include transition(all .5s ease);  
    margin: 0 auto;

    h2 {
        margin: 15px auto 25px;
    }

    p {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }
}