body {
	margin: 0 auto;
	// max-width: 1920px;
}

.main {
	margin: 0 auto;
}

.section {
	@include transition(all 0.5s ease);
	margin: 0 auto;

	h2 {
		margin: 35px auto 40px;
	}

	p {
		margin: 0 auto;
		max-width: 600px;
		text-align: center;
	}
}
