// @import "../base/_master.scss";

.nav {

    &-main {

        &-list {
            @include flexbox(inline-flex); 
            margin: 10px auto;
        }

        li {
            margin: 0 10px;
            padding: 0 10px;
        }

        a {
            @include font-size(20);
            @include transition(all .5s ease);
            color: lighten($black, 15%);
            font-family: $font-secondary;
            font-weight: 500;
            text-decoration: none;
            text-shadow: 1px 1px 1px $white;

            &:hover,
            &:focus {
                color: $primary-color;
            }
        }

    }

}