.banner {
	@include flexbox(flex);
	@include justify-content(space-between);
	@include transition(all 0.5s ease);
	padding: 12px 20px;
	position: fixed;
	max-height: 70px;
	top: 0;
	width: 100%;
	z-index: 99;

	&--top {
		background: transparent;
	}

	&--scroll {
		background: $white;
		border-bottom: 1px solid $color-secondary;
	}
}
