.mission {
    background: $white;
    padding: 20px;
    width: 100%;

    &-info {
        margin: 10px auto 20px !important;
    }

    &-infographic {
        @include flexbox(inline-flex); 
        margin: 20px auto;
        padding: 0 10px;

        &-element {
            padding: 10px 20px;
        }

        &-logo {
            @include flexbox(flex); 
            @include align-items(center);
            border: 2px solid $secondary-color;
            background-color: lighten($primary-color, 20%);
            border-radius: 50%;
            height: 120px;
            margin: 15px auto;
            width: 120px;
        }
    }
}