.mission {
	@include transition(all 0.5s ease);
	background: url(../../images/mission_bg.png) center center no-repeat;
	background-size: cover;
	padding: 20px;
	width: 100%;

	h2 {
		@include transition(font-size 500ms ease);
	}

	&-info {
		margin: 20px auto;
		border-radius: 20px;

		&-inner {
			padding: 20px;
		}

		&-text {
			margin: 10px auto 20px !important;

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	&-infographic {
		@include flexbox(inline-flex);
		@include align-items(flex-start);
		@include justify-content(center);
		margin: 20px auto;
		padding: 0 10px;
		width: 100%;

		&-element {
			@include align-items(center);
			margin: 25px;
			border-radius: 20px;
		}

		&-logo {
			@include flexbox(flex);
			@include align-items(flex);
			border-radius: 20px 20px 0 0;
			height: 100px;
			border-radius: 50%;
			width: 100px;
			background: grey;
			margin: 0 auto 20px;
		}

		&-text {
			@include transition(font-size 500ms ease);
			border-radius: 0 0 20px 20px;
			color: $black;
			padding: 15px;
		}
	}
}

@media only screen and (max-width: $break-lg) {
	.mission {
		&-info {
			&-text {
				@include font-size(16);
			}
		}
		&-infographic {
			@include flexbox(flex);
			@include flex-direction(column);
			@include align-items(center);
		}

		h2 {
			@include font-size(26);
		}
	}
}
