.process {
	background: $white;
	padding: 20px;
	width: 100%;

	&-outline {
		@include flexbox(flex);
		@include flex-direction(column);
		margin: 35px auto 20px;
		padding: 0 10px;

		&-element {
			background: $white;
			border: 2px solid $color-secondary;
			border-radius: 20px;
			padding: 20px;
			margin: 40px auto 60px;
			min-height: 160px;
			max-width: 540px;
			width: 100%;
			z-index: 90;

			&:last-child {
				margin: 40px auto 40px;
			}
		}

		&-icons {
			@include flexbox(flex);
			@include align-items(center);
			// background-color: lighten($color-primary, 25%);
			background-color: $white;
			border: 2px solid $color-secondary;
			border-radius: 50%;
			height: 120px;
			margin: -85px auto 15px;
			width: 120px;

			&-select {
				background: url(../../images/select_sm.png) center center no-repeat;
			}

			&-preq {
				background: url(../../images/preq_sm.png) center center no-repeat;
			}

			&-funds {
				background: url(../../images/funds_sm.png) center center no-repeat;
			}

			&-tokens {
				background: url(../../images/tokens_sm.png) center center no-repeat;
			}

			&-select,
			&-preq,
			&-funds,
			&-tokens {
				background-size: cover;
				margin: 0 auto;
				width: 95px;
				height: 95px;
			}
		}

		p {
			margin: 0 auto;
			text-align: center;
		}
	}

	&-segment {
		background: $color-secondary;
		border-radius: 20px;
		height: 120%;
		left: 50%;
		margin-top: 90px;
		margin-left: -5px;
		position: absolute;
		width: 10px;
		z-index: -1;
	}
}
